/* CSS Reset */
html, body, div, span, h1, h2, h3, p,
a, img, strong, dl, dt, dd, ul, li,
form, article, aside, footer, header, section {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

/* Grid main layout */
#header-wrapper {grid-area: header;}
#left-aside-wrapper {grid-area: left-aside;}
#right-aside-wrapper {grid-area: right-aside;}
#main-wrapper {grid-area: main;}
#footer-wrapper {grid-area: footer;}

#wrapper {
    font-family: sans-serif;
    display: grid;
    grid-template-areas:
            "header     header header"
            "left-aside main   right-aside"
            "footer     footer footer";
    grid-auto-columns: 1fr 4fr 1fr;
    grid-gap: .8rem;
}

/* Header layout */
.header-nav-wrapper {
    background-color: rgb(51, 176, 102);
    height: 2.5rem;
}

.header-logo-wrapper {
    background-color: rgb(255, 255, 204);
    height: 2.5rem;
}

.header-form-wrapper {
    background-color: rgb(51, 176, 102);
    height: 2.5rem;
}

/* Header */
.header-nav-wrapper > ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-nav-wrapper > ul > li{
    flex: 0 0 5rem;
    list-style-type: none;
    border-right: 1.5px solid white;
    text-align: center;
    line-height: 14px;
}

.header-nav-wrapper > ul > li > a {
    font-size: .8rem;
    color: white;
    text-decoration: none;
}

.header-logo-wrapper > img {
    position: absolute;
    top: 10px;
}

@media only screen and (max-width: 600px) {
    .header-nav-wrapper > ul > li {
        flex: 0 0 3.4rem;
    }
    .header-nav-wrapper > ul > li > a {
        font-size: .6rem;
    }
}

@media only screen and (max-width: 700px) {
    .header-logo-wrapper > img {
        width: 6rem;
        top: 32px;
    }
}

.header-form-wrapper > form {
    display: grid;
    grid-template-areas:
        ". . . . . . dropdown     btn-mudar text-input btn-procurar"
        ". . . . . . . . busca-avancada  .";
    grid-gap: 3px;
    padding-top: 1px;
    grid-auto-columns: auto;
}

.header-form-wrapper > form > select {
    grid-area: dropdown;
    width: 80%;
    justify-self: end;
}
.header-form-wrapper > form > .btn-mudar {
    grid-area: btn-mudar;
    width: min-content;
}
.header-form-wrapper > form > .btn-procurar {
    grid-area: btn-procurar;
    width: min-content;
}
.header-form-wrapper > form > input {
    grid-area: text-input;
    width: 80%;
    justify-self: end;
}
.header-form-wrapper > form > a {
    grid-area: busca-avancada;
    font-size: .7rem;
    text-align: right;
}

#header-wrapper > p {
    font-size: .7rem;
    text-align: right;
    font-weight: bold;
    margin-top: 1px;
}

/* Left aside */
#left-aside-wrapper section {
    margin-bottom: 1.5rem;
    border: 1px solid #b9b9b9;
}

#left-aside-wrapper section div {
    background-color: rgb(51, 176, 102);
    color: white;
    padding: .5rem;
}

#left-aside-wrapper section div h1 {
    display: inline-block;
}

#left-aside-wrapper section div img {
    width: 2rem;
    transform: rotate(100deg);
    position: absolute;
}

#left-aside-wrapper section nav {
    background-color: rgb(255, 255, 204);
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    padding-left: .8rem;
}

#left-aside-wrapper section nav ul {
    list-style: none;
}

#left-aside-wrapper section ul li::before {
    content: "\26AC";
    color: limegreen;
    display: inline-block;
    width: .6rem;
}

#left-aside-wrapper section ul li{
    line-height: 1.2rem;
}

#left-aside-wrapper section ul li a {
    font-size: .8rem;
    line-height: 9px;
}

@media only screen and (max-width: 600px) {
    #left-aside-wrapper section div h1 {
        font-size: 0.8rem;
    }

    #left-aside-wrapper section ul li a {
        font-size: .6rem;
    }

    #left-aside-wrapper section ul li span {
        font-size: .7rem;
    }

    #left-aside-wrapper section nav {
        padding-left: .4rem;
    }
}

/* Main */
main > h1 {
    color: white;
    background-color: #003399;
    text-align: center;
    padding: .5rem;
}

main > article {
    display: grid;
    grid-template-areas:
            "image title"
            "image description";
    grid-auto-columns: 1fr 3fr;
    margin: 1rem 0 1rem 0;
    border-bottom: 1px solid #b9b9b9;
    padding: 0.6rem;
}

main > article > img {
    grid-area: image;
    height: 7rem;
}

main > article > h2 {
    grid-area: title;
}

main > article > h2 > a {
    font-size: .8rem;
}

main > article > dl {
    grid-area: description;
}

main > article > dl > dt {
    display: inline;
    font-weight: bold;
    font-size: .8rem;
}

main > article > dl > dt::after {
    content: ": ";
}

main > article > dl > dd {
    display: inline;
    font-size: .8rem;
}

main > article > dl > dd::after {
    content: "\A";
    white-space: pre;
}

main > img {
    display: block;
    margin: auto;
}
